.btn-subgroup {
    display: inline-block;
    height: 44px;
    /*float:left;*/
}

.topSettings {
    color:#ff9922;
    font-size: 46px;
}

.rounded-corners {
    min-width: 510px;
    background: -moz-linear-gradient(left, #003050 0%, black 100%);
    background: -webkit-linear-gradient(left, #003050 0%, black 100%);
    background: -o-linear-gradient(left, #003050 0%, black 100%);
    background: -ms-linear-gradient(left, #003050 0%, black 100%);
    background: linear-gradient(left, #003050 0%, black 100%);
}

.rounded-corners > h1 {
    background:transparent;
    position: absolute;
    width:fit-content;
    left: 0px;
    top: -38px;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

.rounded-corners > button {
    width: 100%;
}

.dropdown-menu > ul {
    font-size: 28px;
}

.abcxVersionStyle a {
    text-decoration: none;
    font-family: 'Merienda'; 
    font-size:18px; 
}

.playtime-label{
     height: 40px !important;  
     width: 115px !important; 
     margin-top: 9px !important; 
     font-size: 22px !important;
     color: #ff9922 !important;
     color: red !important;

}

.slide-thumb > span {
    opacity: 0.6;
    font-size: 18px ;
}

.draggableToolBarApp {
    clear: both;
    font-family: "abcx";
    height: 44px;
    line-height: 44px;
    width: calc(100% - 2px);
    font-size: 16px;
    position: relative;
    display:inline-block;
    margin: 0;
    padding: 1px;
    pointer-events: auto;
    background: lightblue;
    background-color: #EBEBEB;
    background: #e9edf0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
/*
    background: -moz-linear-gradient(left, #003050 0%, black 100%) !important;
    background: -webkit-linear-gradient(left, #003050 0%, black 100%) !important;
    background: -o-linear-gradient(left, #003050 0%, black 100%) !important;
    background: -ms-linear-gradient(left, #003050 0%, black 100%) !important;
    background: linear-gradient(left, #003050 0%, black 100%) !important;
*/    
}

.draggableToolBarApp button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: auto;
    text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.8); 
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: #ff9922;
    color: red;
    background-color: transparent;
    
}

.keyboard-btn-group {
    position: absolute; 
    display:inline-block;
    top: 0px;
    margin-top: 2px;
    margin-left: 5px;
    font-family: "abcx";
    height: 40px;
    width: fit-content;
    font-size: 16px;
    margin: 0;
    padding: 1px;
    pointer-events: auto;
    background: #e9edf0;
/*
    background: lightblue;
    background-color: #EBEBEB;
*/    
}

.keyboard-btn-group label,
.keyboard-btn-group button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    height: 44px;
    width: auto;
    text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.8); 
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: #ff9922;
    color: red;
    background-color: transparent;

}

.keyboard-btn-group button:hover {
    height: 44px;
    background: lavender;
    cursor: pointer;
}

.btn-group button {
    height: 44px;
}

.btn-group button:hover {
    height: 44px;
    background: lavender;
    cursor: pointer;
}


.circular { 
    position: absolute; 
    display:inline-block;
    bottom:20px;
    border-radius: 50%; 
    z-index: -10 ; 
    background: rgba(100, 100, 100, 0.5);    
    box-shadow: 0 0 15px 15px rgba(100, 100, 100, 0.5);    
    height: 80px; 
    width: 80px;
 }

.circular img { 
    position: relative;
    border: none;
    margin-top:-10px;
    margin-left:-10px;
    height:100px; 
    width: 100px;
}
