.rounded-corners {
    min-width: 510px;
    background: -moz-linear-gradient(left, #003050 0%, black 100%);
    background: -webkit-linear-gradient(left, #003050 0%, black 100%);
    background: -o-linear-gradient(left, #003050 0%, black 100%);
    background: -ms-linear-gradient(left, #003050 0%, black 100%);
    background: linear-gradient(left, #003050 0%, black 100%);
}

.rounded-corners > h1 {
    background:transparent;
    position: absolute;
    width:fit-content;
    left: 0px;
    top: -38px;
    font-size: 20px;
    padding: 0 5px 0 5px;
}

.rounded-corners > button {
    width: 100%;
}

.dropdown-menu > ul {
    font-size: 24px;
}

.slideContainer {
    width: 160px !important;
}

.slidecontainer > .layer1 {
    width: 160px !important;
}
.slidecontainer > .layer2 {
    width: 160px !important;
}

.slidebuttonDiv {
    width: 30px !important;
}

.slidebutton {
    font-size: 32px !important;
}

.slidelabel {
    font-size: 28px !important;
    width: 100px;
    left:15px !important;
}

.btn-subgroup {
    display: inline-block;
    height: 40px;
    /*float:left;*/
}

.topSettings {
    color:#ff9922;
    font-size: 46px;
}

.abcxVersionStyle a {
    text-decoration: none;
    font-family: 'Merienda'; 
    font-size:18px; 
}
