.enjoy_hint_label {
    z-index: 107;
    color: white !important;
    font-size: 24px !important;
    font-family: Merienda, Casino !important;
    background-color: rgb(0, 0, 0, 0) !important;
    border-radius: 1.5em;
    padding: 0.5em;
}

.enjoy_hint_backgr {
    background-color: rgb(37, 207, 156) !important;
    border-radius: 1.5em;
    padding: 0.5em;
}


.enjoy_hint_note_text {
    color: rgb(252, 169, 3);
    font-size: 19px;
    font-style: italic;
}

.enjoy_hint_note_link {
    color: rgb(32, 79, 189);
}

.enjoy_hint_note_text1 {
    color: #2bff3c;
}

.enjoy_hint_note_text2 {
    color: #00c8ff;
}

.enjoy_hint_note_text3 {
    color: #2bff3c;
}

.enjoy_hint_note_rodape {
    color: black;
    font-size: 19px;
    font-style: italic;
}