.enjoy_hint_label {
    z-index: 107;
    color: white !important;
    font-size: 24px !important;
    font-family: Merienda, Casino !important;
    background-color: rgb(0, 0, 0, 0) !important;
    border-radius: 1.5em;
    padding: 0.5em;
}

.enjoy_hint_backgr {
    background-color: rgb(37, 207, 156) !important;
    border-radius: 1.5em;
    padding: 0.5em;
}


.hint_laranja {
    color: rgb(252, 169, 3);
    font-size: 19px;
    font-style: italic;
}

.hint_link {
    color: rgb(32, 79, 189);
}

.hint_tryit {
    color: #2bff3c;
}

.hint_azul {
    color: #00c8ff;
}

.hint_verde {
    color: #2bff3c;
}

.hint_black {
    color: black;
    font-size: 19px;
    font-style: italic;
}

.myClose {
    top: 100px;
}

