@media all {
    .page-break	{ display: none; }
    .info   	{ display: none; }
}

@media print {
    .page-break	{ display: block; page-break-before: always; }
    .info   	{ display: block; }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.frame {
    background: #fff;
    overflow: auto;
    width: calc( 100% - 1px );
    height: calc( 100% - 0px );
    position: absolute;
}

.helpTit {
    font-size: 28px;
    line-height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}    

.helpHeader {
    background-color: #5ba4a4; 
    width:100%; 
    top: 0px; 
    left: 0px;
    padding: 0px;
    position: fixed; 
    z-index: 1000;
    min-height: 50px;
}
 
.helpContent {
    top: 60px;
    left: 0px;
    margin: 4px;
    padding: 4px;
    position: relative;
    width: calc(100% - 20px); 
    max-width: 1024px; 
    border: #C0C0C0; 
    border-style: double; 
    border-width: 2px; 
    font-family: sans-serif;
}

.helpContent img { 
   /* width: calc(100% - 10px); */
    max-width: calc(100% - 10px);
}

.helpContent h1 {
  text-align: center;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;    
  margin-bottom: 5px;
}    


.helpContent h2 {
  font-size: 1.5em;
  text-indent: 50px;
}    
    
.helpContent h3 {
  text-indent: 50px;
}    
.helpContent h4 {
  text-indent: 50px;
}    
.helpContent h5 {
  text-align:  center;
  font-family: "Arial";
  font-size: 1.2em;
  font-style: italic;
  margin:0;
}    

.helpContent p {
  text-indent: 50px;
  text-align: justify;
  
}

.helpContent pre {
  margin-left: 50px;
}

.helpContent li {
  margin-left: 50px;
  font-style: italic;
}

.legenda {
  text-align:  left;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

pre {
  font-size: 13px;
}

.tabCifra {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.tabCifra th, .tabCifra td {
    border: 1px solid black;
    width:80px;
    text-align: center;
}

.tabCifra th {
    font-weight: bold;
}

.btn {
  border: 1px outset buttonface;
  color: buttontext;
  background-color: buttonface;
  height: 26px;
  padding: 1px 6px;
  margin-top: 0px;
  margin-left: 5px;
}

.btn:hover { color: #000; }
.btn:focus{ color: #000; }

.abc_link {
  font-weight: normal;
  text-decoration: none; 
}

.abc_link:hover {
  stroke: blue; 
  text-decoration: none; 
}


.customScrollBar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    opacity: 0;
    background-color: transparent;
}

.customScrollBar::-webkit-scrollbar-track {
     margin: 1px;
    -box-shadow: inset 1px 1px 6px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,0.1);
     border-radius: 6px;
     background-color: transparent;
     opacity: 0
}

.customScrollBar::-webkit-scrollbar-track:hover {
    background-color: rgba(255, 153, 34, 0.2);
}
 
.customScrollBar::-webkit-scrollbar-thumb {
  width: 5px;
  height: 5px;
  border-radius: 6px;
  outline: 1px solid slategrey;
  background-color: rgba(255, 153, 34, 0.6);
} 

.customScrollBar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 153, 34, 1);
}

