@media all {
    .page-break	{ display: none; }
    .info   	{ display: none; }
}

@media print {
    .page-break	{ display: block; page-break-before: always; }
    .info   	{ display: block; }
}

body {
  background: #fff;

}

.tabCifra {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.tabCifra th, .tabCifra td {
    border: 1px solid black;
    width:80px;
    text-align: center;
}

.tabCifra th {
    font-weight: bold;
}

.btn {
  border: 1px outset buttonface;
  color: buttontext;
  background-color: buttonface;
  height: 26px;
  padding: 1px 6px;
  margin-top: 0px;
  margin-left: 5px;
}

.btn:hover { color: #000; }
.btn:focus{ color: #000; }

.helpTit {
    font-size: 28px;
    line-height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}    

.helpHeader {
    background-color: #5ba4a4; 
    width:100%; 
    top: 0px; 
    left: 0px;
    padding: 0px;
    position: fixed; 
    z-index: 1000;
    min-height: 50px;
}
 
.helpContent {
    margin: 10px;
    padding: 4px;
    position: relative;
    float:bottom;
    top: 0px;
    left: 0px;
    right:0; 
    border: #C0C0C0; 
    border-style: double; 
    border-width: 2px; 
   font-family: sans-serif;
}

.helpContent h1 {
  text-align: center;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;    
  margin-bottom: 5px;
}    


.helpContent h2 {
  font-size: 1.5em;
  text-indent: 50px;
}    
    
.helpContent h3 {
  text-indent: 50px;
}    
.helpContent h4 {
  text-indent: 50px;
}    
.helpContent h5 {
  text-align:  center;
  font-family: "Arial";
  font-size: 1.2em;
  font-style: italic;
  margin:0;
}    

.helpContent p {
  text-indent: 50px;
  text-align: justify;
  
}

.helpContent pre {
  margin-left: 50px;
}

.helpContent li {
  margin-left: 50px;
  font-style: italic;
}

.legenda {
  text-align:  left;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

pre {
  font-size: 13px;
}

/*

.helpContainer {
    margin: 10px;
    position: fixed;
    top: 50px;
    width: 1024px; 
    height: 100%;
    border: #C0C0C0; 
    border-style: double; 
    border-width: 2px; 
}

.helpFrame {
    position: fixed;
    top: 50px;
    margin: 10px;
    padding:8px;
    width: 98%; 
   font-family: sans-serif;
    //font-size: 18px;
}*/

.customScrollBar::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}
 
.customScrollBar::-webkit-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.customScrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(255,0,0,0.8);
  background-color: rgba(255, 153, 34, 0.8);
  outline: 1px solid slategrey;
} 

