/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2017, 16:58:41 atualizado
    Author     : Flávio Vani 
*/

html {
    height: calc( 100% - 75px);
}

body {
    font-family: 'Arial';
    font-size: 16px;
    margin: 0;
    padding: 0;
    height: 100%;
    padding-top: 75px;  
    
    overflow: auto;
    
    /* inicio - evita que textos fiquem selecionáveis */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* fim - evita que textos fiquem selecionáveis */
    /*
    background:url("../images/background.fole.png");
    background-repeat: repeat;
    background-size:  100%, 100%;
    background-origin: content-box;
    background-color: #ededed;
    */
    background-color: white;
}
    
.topSettings {
    position:absolute; 
    top:10px; 
    right:20px; 
    font-size: 45px;
    color: #dab390;
}    

.oldVersion {
    position:absolute; 
    top:60px; 
    right:10px; 
    font-size: 14px;
    color: #dab390;
    text-decoration: none;
}    


.oldVersion:hover,
.topSettings:hover {
    color:#ff9922;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}    

.topBar {
    z-index: 100;
    position: fixed;
    display: block;
    top: 0; 
    left: 0;
    min-height: 70px;
    min-width: 640px;
    width: 100%;

    padding: 0;
    padding-top: 4px;
    padding-left: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -ms-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    
}

.gradiente {
    background: -moz-linear-gradient(left, #003050 0%, black 100%);
    background: -webkit-linear-gradient(left, #003050 0%, black 100%);
    background: -o-linear-gradient(left, #003050 0%, black 100%);
    background: -ms-linear-gradient(left, #003050 0%, black 100%);
    background: linear-gradient(left, #003050 0%, black 100%);
    color: orange;
    color: #ff9922;
    cursor:default;
}

.topTitle {
    position: relative;
    float: left;
    width: 100%;
    font-family: 'titleFont';
    font-weight: normal;
    font-size: 28px;
    text-align: left;
    line-height: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 4px;
    margin-bottom: 4px;
    color: orange;
    color: #ff9922;

}

.topMenu {
    position: relative;
    float: left;
    display: anything;
    border: none;
    background: none;
    margin-top: 0px;
}

.mapaDiv {
    position:absolute;
    display: block;
    top: 75px;
    width: auto;
    height: auto;
    z-index: 50;
    margin-left: 2px;
}


.menu-group {
    margin:20px;
}


.btn-group b,
.btn-group label,
.btn-group button,
.btn-group input[type="text"] {
    color: black;
    border-color: lightgray;
    color: red;
    border-color: lightpink;
}


.btn-group input[type="text"] {
    margin-top:0px;
    font-family: "menuFont";
}

.btn-group button:hover {
    background-color: lavenderblush;
}

.dropdown-menu li:hover {
    background-color: #ff3a3a;
    background-color: #D4482D;
}

.dButton > a { color: #dab390; text-decoration: none }
.dButton > a { color: white; text-decoration: none }


.dropdown-menu .selected {
    background:  #6E2518 !important;
}
 