/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09/05/2017, 16:58:41 atualizado
    Author     : Flávio Vani 
*/


body {
    font-family: 'Londrina';
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow: auto;
    /* inicio - evita que textos fiquem selecionáveis */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* fim - evita que textos fiquem selecionáveis */
    /*
    background:url("../images/background.fole.png");
    background-repeat: repeat;
    background-size:  100%, 100%;
    background-origin: content-box;
    background-color: #ededed;
    */
    background-color: white;
}
    
.mapaDiv {
    position:absolute;
    display: block;
    top: 75px;
    width: auto;
    height: auto;
    z-index: 50;
    margin-left: 2px;
}

.topBar {
    z-index: 100;
    position: fixed;
    display: block;
    top: 0; 
    left: 0;
    min-height: 70px;
    min-width: 640px;
    width: 100%;

    padding: 0;
    padding-top: 4px;
    padding-left: 5px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -ms-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    -o-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.7);
    
}

.topSettings {
    position:absolute; 
    top:8px; 
    right:20px; 
    font-size: 1.4em;
}    

.gradiente {
    background: -moz-linear-gradient(left, #003050 0%, black 100%);
    background: -webkit-linear-gradient(left, #003050 0%, black 100%);
    background: -o-linear-gradient(left, #003050 0%, black 100%);
    background: -ms-linear-gradient(left, #003050 0%, black 100%);
    background: linear-gradient(left, #003050 0%, black 100%);
    color: orange;
    color: #ff9922;
    cursor:default;
}

.topTitle {
    position: relative;
    float: left;
    width: 100%;
    font-family: 'titleFont';
    font-weight: normal;
    font-size: 28px;
    text-align: left;
    line-height: 34px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-top: 4px;
    margin-bottom: 4px;
    color: orange;
    color: #ff9922;

}

.menuBar {
    position: relative;
    top: 0; 
    left: 0;
    height: 40px;
    width: 100%;
    padding: 0;
}

.topMenu {
    position: relative;
    float: left;
    border: none;
    background: none;
    margin-top: 0px;
}

.btn-group button,
.btn-group > span {
    color: red;
    background-color: transparent;
    padding-left: 8px;
    padding-right: 4px;
}


.btn-group button:hover {
    background-color: lavenderblush;
}
