@media all {
	.page-break	{ display: none; }
}

@media print {
	.page-break	{ display: block; page-break-before: always; }
}

body {
  padding-top: 50px; /* 50px to make the container go all the way to the bottom of the topbar */
  background: #bbbbaa;
/*
  background: #fafafa;
  background: #fff url(../img/bg.gif) repeat top left; */
}

.btn {
  border: 1px outset buttonface;
  color: buttontext;
  background-color: buttonface;
  height: 26px;
  padding: 1px 6px;
}

.btn:hover { color: #000; }
.btn:focus{ color: #000; }

.container {
    width: 1160px;
}

.container > header h1{
	font-size: 28px;
	line-height: 28px;
	margin-top: 5px;
	margin-left: 0px;
	position: relative;
	font-weight: 300;
	color: #fff;
	text-shadow: 2px 2px 2px rgba(255,255,255,0.7);

}
.container > header h1 span{
	font-weight: 700;
}

.modalWindow {
  position: fixed;
  font-family: arial;
  font-size:80%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalHeader h2 { color: #189CDA; border-bottom: 2px groove #efefef; }

.modalContent h3 { 
  
/*color: #189CDA; border-bottom: 0px groove #efefef; */

  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  position: relative;
  padding: 5px 10px;
  float: left;
  display: block;
  margin-right: 1em;
  line-height: 1em;
  /*
   width: 80px;
  text-transform: uppercase;
  color: #385c5b;
  background: #5ba4a4;
*/
  color: lightgreen;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  letter-spacing: 1px;

  border-radius: 5px;
  box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);

}

.modalContent h3 span { 
  color: #385c5b;
  font-size: 10px;
  font-weight: bold;
  text-align: left;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);

}

.modalContent  { 
  text-align:justify;
  text-justify:inter-word;
}

.modalContent p {
  text-indent: 4em;
}

.modalWindow:target {
  opacity:1;
  pointer-events: auto;
}
.modalWindow > div {
  width: 800px;
  position: relative;
  margin: 5% auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  -moz-box-shadow: 5px 10px 12px 5px #888;
  -webkit-box-shadow: 5px 10px 12px 5px #888;
  box-shadow: 5px 10px 12px 5px #888;
}
.modalWindow .modalHeader  {	padding: 5px 20px 0px 20px;	}
.modalWindow .modalContent {	padding: 0px 20px 5px 20px;	}
.modalWindow .modalFooter  {	padding: 8px 20px 8px 20px;	}

.modalFooter {
  background: #F1F1F1;
  border-top: 1px solid #999;
  -moz-box-shadow: inset 0px 13px 12px -14px #888;
  -webkit-box-shadow: inset 0px 13px 12px -14px #888;
  box-shadow: inset 0px 13px 12px -14px #888;
}
.modalFooter p {
  color:#D4482D;
  text-align:right;
  margin:0;
  padding: 5px;
}
.ok, .close, .cancel {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close {
  position: absolute;
  right: 10px;
  top: 8px;
  width: 22px;
  height: 22px;
  font-size: 10px;

}
.ok, .cancel {
  width:50px;
  float:right;
  margin-left:12px;
}
.ok:hover { background: #189CDA; }
.close:hover, .cancel:hover { background: #D4482D; }
.clear { float:none; clear: both; }

#faketab,
#tabs {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

#faketab li,
#tabs li {
  float: left;
  margin: 0 .5em 0 0;
  line-height: 1em;
}

#faketab label,
#tabs label {
  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  position: relative;
  padding: 0 10px;
  float: left;
  display: block;
  width: 80px;

  color: #385c5b;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
  letter-spacing: 1px;

  border-radius: 5px 5px 0 0;
  box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

#faketab a,
#tabs a {
  position: relative;
  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  padding: .4em .5em;
  float: left;

  color: #385c5b;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(255,255,255,.8);
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: 1px;
  border-radius: 5px 0 0 0;
  box-shadow: 0 2px 2px rgba(0,0,0,.4);
  z-index: 2;
}

#tabs a:hover,
#tabs a:hover::after,
#tabs a:focus,
#tabs a:focus::after {
  background: #5ba4a4;
}

#tabs a:focus {
  outline: 0;
}

#faketab a::after,
#tabs a::after {
  content:'';
  position:absolute;
  z-index: 2;
  top: 0;
  right: -.5em;  
  bottom: 0;
  width: 1em;

  background: #5ba4a4;
  background: -moz-linear-gradient(top, #5ba4a4 0%, #4e8c8a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5ba4a4), color-stop(100%,#4e8c8a));
  background: -webkit-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -o-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: -ms-linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);
  background: linear-gradient(top, #5ba4a4 0%,#4e8c8a 100%);

  box-shadow: 3px 3px 3px rgba(0,0,0,.4);
  -moz-box-shadow: 3px 3px 3px rgba(0,0,0,.4);
  -webkit-box-shadow: 3px 3px 3px rgba(0,0,0,.4);

  transform: skew(15deg);
  -webkit-transform: skew(15deg);
  -moz-transform: skew(15deg);
  -ms-transform: skew(15deg);
  -o-transform: skew(15deg);
  
  border-radius: 0 5px 0 0;  
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}

#faketab a, 
#faketab a::after {
  color: #385c5b;
  color: lightgreen;
  z-index: 2;
}

#tabs #current a,
#tabs #current a::after {
  background: #fff;
  z-index: 3;
}

#faketab a:hover,
#faketab a:hover::after,
#faketab a:focus,
#faketab a:focus::after {
  color: #385c5b;
  color: lightgreen;
  background: #5ba4a4;
}

#selKey,
#selSongs,
#selChords,
#selPractices,
#selGaitas {
  color:buttontext;
  width:auto;
  padding: 1px 6px;  
  border: 1px outset buttonface;
  margin-bottom: 0;
  margin-right: 2px;
  background-color: buttonface;
  line-height: 20px;
  height: 26px;
  box-sizing: border-box;  
} 

#mapContainerDiv {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
/*    margin: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 8px 8px 10px #444;
    -webkit-box-shadow: 8px 8px 10px #444;
    box-shadow: 8px 8px 10px #444;
    background-color: white; */
}

#div_principal {
    float:left; margin-left: 8px; margin-top: 8px; width: 930px;
}


#div_detalhes {
    float:left; margin-left: 8px; margin-top: 8px; width:95%; 
}



#divContent {
    overflow: hidden;
    background:url(../img/fole.4.png);
    background-color: #fff;
    background-size:100% 100%;
    background-repeat:no-repeat;
    margin:0; padding:0; width:95%;   
}

#tuneContainerDiv{
    float:left; 
    margin-top:0px; 
    margin-left:0px; 
    margin-bottom: 0px; 
    width:1150px; 
    min-height: 390px;
    height:390px;
    overflow-y: auto;
    background: #fff;
} 

#divContent,
#tuneContainerDiv {
    padding: 0;
    position: relative;
    z-index: 1;	
    border-radius: 0 5px 5px 5px;
    box-shadow: 1px -1px 1px 1px rgba(0, 0, 0, .3), 2px 2px 1px 1px rgba(0, 0, 0, .3);
}

.table-final {
    background: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .3);
}

hr {
    margin: 3px 0;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #fff;
}

.menuDinamico {
    text-align: left; 
    margin-left: 0px; 
    margin-top: 12px; 
    max-height: 200px; 
    overflow-y:  auto;   
}

.menuDinamico> li> a {
    padding-left: 10px;
}