
section.policy-section {
    display: flex;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1f4f66;
    padding: 0;
    margin: 0;
    line-height: 24px;
    font-family: Merienda, Casino, Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 0 5px 12px 14px rgba(0, 0, 0, .06);
    z-index: 1050;
}
.policy-section p {
    margin: 20px;
    max-width: 900px;
    text-align: left;
}
section.policy-section a {
    color: #ffffff;
    text-decoration: underline;
}
.policy-actions {
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.policy-section-actions span.accept-policy-section {
    margin: 5px;
    padding: 5px 30px;
    border-radius: 6px;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid;
    white-space: nowrap;
}
.policy-section-actions span.accept-policy-section:hover {
    background: #ffffff;
    color: #1f4f66;
}

@media (max-width: 900px) {
    section.policy-section { height: 8em; }
    .policy-section p {  max-width: 700px; }

}


@media (max-width: 750px) {
    section.policy-section { flex-direction: column; height: 10em; }
    .policy-section p {  max-width: 700px; }

}

@media (max-width: 500px) {
    section.policy-section { flex-direction: column; height: 14em;  }
    .policy-section p {  max-width: 360px;  }
}
