/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2015, 19:06:40
*/

.printPreviewClass {
    position:absolute;
    display:none;
    top:0;
    left:0;
    margin: 0;
    padding: 0;
    width:100%; 
    height: 100%; 
    background-color: #fff;
    z-index: 1000;
}

.studioDiv {
    position: absolute;
    display:none;
    left: 0;
    top: 78px;
    width: 100%;
    height: auto;
    z-index: 50;
}

.controlDiv {
    clear:both;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 3px;
    /* font-size: 15px; */
    width: inherit;
    height: auto;
    background-color: #dadada;
    background-color: #e9edf0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 153, 34, 0.2);
/*
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    -ms-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    -o-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.7);
    */
}

.warningsDiv {
    clear:both;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 3px;
    padding-left: 13px;
    /* font-size: 15px; */
    width: inherit;
    height: auto;
    background-color: #dadada;
    background-color: #e9edf0;
    border-bottom: 1px solid rgba(255, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 153, 34, 0.2);
}

.studioCanvasDiv {
    clear:both;
    position: relative;
    display: block;
    margin: 0px;
    /*
    margin-top: 6px;
    margin-left: 4px;
    */
    width: auto;
    height: auto;
    overflow-y: auto;
    background-color: #e9edf0;
}


.canvasDiv {
    clear:both;
    position: relative;
    display: inline-block;
    padding: 3px;
    margin: 4px;
    margin-bottom: 60px; /* why? */
    border: 1px solid rgba(159,159,159,0.2);
    background-color: #f1f1dd; 
    background-color: honeydew; 
    background-color: ivory; 
    background-color: aliceblue; 
    background-color: azure; 
    background-color: mintcream; 
    width: auto;
    height: auto;
    min-width: 1024px; 
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
}

.btn-subgroup {
    display: inline-block;
    float:left;
}