.btn-group ,
.menu-group ,
.dropdown-group {
    width: auto;
    white-space: normal;
    display: inline-block;
}

.btn-group ,
.menu-group {
    height: 22px;
    margin-top: 2px;
    margin-left: 5px;
}

.btn-group label,
.menu-group label,
.menu-group button,
.btn-group button,
.dropdown-group button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    vertical-align: middle;
    font-family: 'titleFont3','Arial';
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    height: 26px;
    width: auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}

.dropdown-group button {
    font-size: 22px;
    color: orange;
    color: #dab390;
}

.dropdown-group button:hover {
    cursor: pointer;
    color: orange;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.menu-group label,
.btn-group label {
    text-align: left;
    padding-top: 6px;
    height: 16px;
    font-size: 16px;
}


.menu-group input[type="text"],
.btn-group input[type="text"] {
    width: 4em;
    height: 22px;
    padding: 0;
    margin: 0;
    border-color: gray;
    margin-top: 2px;
    margin-left: 5px;
    padding-left:2px;
}

.menu-group button:hover,
.btn-group button:hover {
    background:  lavender;
    cursor: pointer;
}

.menu-group button::-moz-focus-inner,
.btn-group button::-moz-focus-inner,
.dropdown-group button::-moz-focus-inner {
  border: 0;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.btn-group i,
.btn-group img,
.menu-group i,
.menu-group img,
.dropdown i,
.dropdown img {
    position: relative;
    vertical-align: middle;
    top: 0px;
    height:20px;
}    

.dropdown [data-toggle="toggle"] {
    float:right;
    position:  relative;
    display: block;
    top: 1px;
    right: 0px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown-menu {
    z-index: 101;
    max-height: 0;
    position:absolute;
    display:  block;
    top:100%;
    left: 6px;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    min-width: fit-content;
    overflow-y: hidden;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    white-space: nowrap;
    color: orange;
    color: #dab390;
    background: #2c3e50;
    /*text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);*/
}
      

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu hr {
    margin: 5px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid orange;
}

.dropdown li {
    padding: 4px;
    line-height: 16px;
}

.dropdown-menu li:hover {
    background: #f6f6f6;
    background: lightblue;
    background: lavender;
}

.dropdown-menu li a {
    display:  block;
    padding: 2px 6px 2px 6px;
}


.dropdown > input[type="checkbox"] {
    display: none;
}

.dropdown > input[type="checkbox"]:checked ~ button > [data-toggle="toggle"] {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown > input[type="checkbox"]:checked ~ [data-toggle="toggle-menu"] {
    max-height: 250px;
    overflow-y: hidden;
    display:  block;
    top:100%;
    left: 6px;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 21/05/2017, 17:29:52
    Author     : flavio
*/

.tabs {
    clear: both;
    position: relative;
    display: block;
    float:  left;
    margin: 8px 0px 0px 1px;
    width: fit-content;
    min-width: 640px;
}

.tabs input[type="radio"] {
    position: absolute;
    display: inline;
    z-index: 100;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tabs input#tab-2{
    left: 120px;
}
.tabs input#tab-3{
    left: 240px;
}

.tabs > label {
    
    background: #003050;
    background: #ccc;
    background: -moz-linear-gradient(top, white 0%, #ccc   100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#ccc ));
    background: -webkit-linear-gradient(top, white 0%, #ccc  100%);
    background: -o-linear-gradient(top, #003050 0%, #ccc  100%);
    background: -ms-linear-gradient(top, #003050 0%, #ccc  100%);
    background: linear-gradient(top, #003050 0%, #ccc  100%);
    /*
    background: -moz-linear-gradient(top, lavender 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lavender), color-stop(100%,lavender));
    background: -webkit-linear-gradient(top, lavender 0%, white 100%);
    background: -o-linear-gradient(top, lavender 0%, white 100%);
    background: -ms-linear-gradient(top, lavender 0%, white 100%);
    background: linear-gradient(top, lavender 0%, white 100%);
  */

    font-family: 'titleFont3';
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    position: relative;
    padding: 0 6px;
    float: left;
    display: block;
    width: auto;
    color: #385c5b;
    color: #dab390;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    bottom: 0px;
    /*text-shadow: 1px 1px 1px #385c5b;
    */
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs input:hover + label {
    background: #5ba4a4;
    background: lavender;
    background: #eee;
    background: #003050;
    background: -webkit-linear-gradient(bottom, #ccc 0%, white 50%);
    cursor: pointer;
}

.tab-label-1 {
    z-index: 3;
}

.tab-label-2 {
    z-index: 2;
}

.tab-label-3 {
    z-index: 1;
}

.tabs input:checked + label {
    /*opc 2*/
    color: #ff9922;
    color: orange;
    text-shadow: 1px 1px 1px #385c5b, 1px -1px 1px white;
    
    /*opc 1*/
    color: red;
    text-shadow: 1px 1px 1px #ff9922, 1px -1px 1px white;
    
    background: #003050;
    background: -moz-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -webkit-linear-gradient(top, #003050 0%, #e9edf0 60%);
    background: -o-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -ms-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: linear-gradient(top, #003050 0%, #e9edf0 100%);
    z-index: 5;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
}

.tv-content,
.tv-content-always {
    clear: both;
    background: #e9edf0;
    position: relative;
    min-width: 400px;
    min-height: 200px;
    z-index: 10;
    opacity: 1;
    display:block;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
}

.tv-content {
    min-width: 1024px;
    min-height: 300px;
    width: inherit;
    height: inherit;
    overflow: hidden;
    overflow-y: auto;
}

.tv-m1,
.tv-m2,
.tv-m3,
.tv-content > div {
    display:none;
    opacity: 0;
    z-index: 1;
}

.tv-content > div {
    margin: 4px;
    top: 0;
    left: 0;
 }
 
.tabs input.tab-selector-1:checked ~ .btn-group .tv-m1,
.tabs input.tab-selector-2:checked ~ .btn-group .tv-m2,
.tabs input.tab-selector-3:checked ~ .btn-group .tv-m3, 
.tabs input.tab-selector-1:checked ~ .tv-content .tv-content-1 ,
.tabs input.tab-selector-2:checked ~ .tv-content .tv-content-2 ,
.tabs input.tab-selector-3:checked ~ .tv-content .tv-content-3 {
    opacity: 1;
    display:block;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    width: auto;
    height: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 21:03:00
    Author     : flavio
*/

.draggableWindow {
    margin: 0;
    padding:0;
    position:fixed;
    display:none;
    min-width: 200px;
    width: auto;
    height: auto;
    min-height: 60px;
    z-index: 100;
    border: thin solid rgba(100,100,100,0.3);
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    
    background: #F1F1F1;
    pointer-events: auto;
    overflow: hidden;
}

.draggableMenu {
    clear:both;
    position:relative;
    display: block; 
    margin: 0;
    padding: 0;
    top:0; 
    left:0; 
    width:auto; 
    height:auto; 
    pointer-events: auto;
    overflow: hidden;
}

.draggableToolBar {
    clear: both;
    position: relative;
    display:block;
    margin: 0;
    padding: 1px;
    width: auto;
    height: auto; 
    pointer-events: auto;
    overflow: hidden;
    background: lightblue;
    background-color: #EBEBEB;
    background: #e9edf0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}

.draggableData {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.withStatusBar  {
    padding-bottom: 18px;
}

.dTitle {
  top: 0;
  display:block;
  padding: 0; 
  padding-top: 2px; 
  height: auto;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  pointer-events: none;
  background-color: transparent;
}

.dButton {
  font-family: "abcx-window-font";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  float:left;
  background: none;
  color: #FFFFFF;
  display:block;
  text-align: center;
  height: auto;
  top:0;
  margin:0;
  padding: 3px;
  padding-left: 10px;
  padding-right: 8px;
  
}

.dButton:hover { background-color: #D4482D; }
.dButton > a { color: white; text-decoration: none; }
.dButton > a:hover { text-decoration: none; }

.draggableStatus {
    position: absolute;
    bottom: 0;
    left:0;
    height: 18px;
    width: 100%;
    background-color:rgb(160,160,160);
    background-color: #EBEBEB;
    background: #e9edf0;
    color: white;
    border-top: 1px solid rgba(100,100,100,0.5);
   /* border-bottom-right-radius: 4px;*/
}

.draggableStatusResize {
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 18px;
}

.customScrollBar::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
 
.customScrollBar::-webkit-scrollbar-track {
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.customScrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(255,0,0,0.8);
  background-color: rgba(255, 153, 34,0.8);
  outline: 1px solid slategrey;
} 