.dropdown-group {
    width: auto;
}

.btn-group {
    width: auto;
    height: 24px;
    margin-top: 2px;
    display: inline-block;
}

.btn-group button,
.dropdown-group button {
    position: relative;
    display: block;
    float:left;
    font-family: 'titleFont3','Arial';
    text-align: left;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.1em;
    top: 0;
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 0;
    padding-top: 2px;
    padding-left:4px;
    padding-right: 4px;
    width: auto;
    height: 26px;
    text-align: left;
    outline: none !important;
    border: none;
    color: #dab390;
    background-color: transparent;
}

.btn-group button:hover,
.dropdown-group  button:hover {
    background:  lavender;
    cursor: pointer;
}

.btn-group button::-moz-focus-inner,
.dropdown-group  button::-moz-focus-inner {
  border: 0;
}

.dropdown-title-font {
    font-family: 'Lucida','Sans','Arial';
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    line-height: 1.4;
    color: darkred;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.dropdown [data-toggle="toggle"] {
    float:right;
    position:  relative;
    display: block;
    top: 1px;
    right: 0px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown-menu-font {
    font-family: 'titleFont3','Arial';
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1em;
    color: white;
    background: #2c3e50;
    text-align: left;
    /*text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.3);*/
}

.dropdown-menu {
    z-index: 10;
    max-height: 0;
    position:absolute;
    display:  block;
    top:100%;
    left: 0px;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 8px;
    min-width: fit-content;
    overflow-y: auto;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -ms-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu hr {
    margin: 2px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #fff;
}

.dropdown-menu li a {
    padding: 8px;
    display:  block;
    -moz-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    -webkit-box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;
    box-shadow: none;
}

.dropdown-menu li:hover {
    background: #f6f6f6;
    background: lightblue;
}

.dropdown > input[type="checkbox"] {
    display: none;
}

.dropdown > input[type="checkbox"]:checked  ~ button > [data-toggle="toggle"] {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown > input[type="checkbox"]:checked  ~ [data-toggle="toggle-menu"] {
    max-height: 250px;
    display:  block;
    top:100%;
    padding: 0;
    margin: 0;
    margin-top: 3px;
    margin-left: 8px;
    overflow-y: auto;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}
/*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 21/05/2017, 17:29:52
    Author     : flavio
*/

.tabs {
    clear: both;
    position: relative;
    display: block;
    float:  left;
    margin: 4px;
    width: fit-content;
    min-width: 640px;
}

.tabs input[type="radio"] {
    position: absolute;
    display: inline;
    z-index: 100;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tabs input#tab-2{
    left: 120px;
}
.tabs input#tab-3{
    left: 240px;
}

.tabs label {
    
    background: #003050;
    background: #ccc;
    background: -moz-linear-gradient(top, white 0%, #ccc   100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#ccc ));
    background: -webkit-linear-gradient(top, white 0%, #ccc  100%);
    background: -o-linear-gradient(top, #003050 0%, #ccc  100%);
    background: -ms-linear-gradient(top, #003050 0%, #ccc  100%);
    background: linear-gradient(top, #003050 0%, #ccc  100%);
    /*
    background: -moz-linear-gradient(top, lavender 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lavender), color-stop(100%,lavender));
    background: -webkit-linear-gradient(top, lavender 0%, white 100%);
    background: -o-linear-gradient(top, lavender 0%, white 100%);
    background: -ms-linear-gradient(top, lavender 0%, white 100%);
    background: linear-gradient(top, lavender 0%, white 100%);
  */

    font-family: 'titleFont3';
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    position: relative;
    padding: 0 6px;
    float: left;
    display: block;
    width: auto;
    color: #385c5b;
    color: #dab390;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    bottom: 0px;
    /*text-shadow: 1px 1px 1px #385c5b;
    */
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

/*
.tabs label:after {
    content: '';
    background: #fff;
    background: #e9edf0;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    display: block;
}
*/
.tabs input:hover + label {
    background: #5ba4a4;
    background: lavender;
    background: #eee;
    background: #003050;
    background: -webkit-linear-gradient(bottom, #ccc 0%, white 50%);
    cursor: pointer;
}

/*
.tabs label:first-of-type {
    z-index: 4;
}
*/

.tab-label-1 {
    z-index: 3;
}

.tab-label-2 {
    z-index: 2;
}

.tab-label-3 {
    z-index: 1;
}

.tabs input:checked + label {
    color: #777;
    color: orange;
    color: #ff9922;
    text-shadow: 1px 1px 1px #385c5b;
    background: #003050;
    background: -moz-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -webkit-linear-gradient(top, #003050 0%, #e9edf0 60%);
    background: -o-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -ms-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: linear-gradient(top, #003050 0%, #e9edf0 100%);
    z-index: 5;
    box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.7);
    -ms-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 0px 2px -1px rgba(0,0,0,0.7);
}

.tv-content,
.tv-content-always {
    clear: both;
    background: #e9edf0;
    position: relative;
    min-width: 400px;
    min-height: 200px;
    z-index: 10;
    opacity: 1;
    display:block;
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -ms-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
}

.tv-content {
    min-width: 1024px;
    min-height: 300px;
    width: inherit;
    height: inherit;
    overflow: hidden;
    overflow-y: auto;
}
.tv-m1,
.tv-m2,
.tv-m3,
.tv-content > div {
    display:none;
    opacity: 0;
    z-index: 1;
}

.tv-content > div {
    margin: 4px;
    top: 0;
    left: 0;
 }
 
.tabs input.tab-selector-1:checked ~ .btn-group .tv-m1,
.tabs input.tab-selector-2:checked ~ .btn-group .tv-m2,
.tabs input.tab-selector-3:checked ~ .btn-group .tv-m3, 
.tabs input.tab-selector-1:checked ~ .tv-content .tv-content-1 ,
.tabs input.tab-selector-2:checked ~ .tv-content .tv-content-2 ,
.tabs input.tab-selector-3:checked ~ .tv-content .tv-content-3 {
    opacity: 1;
    display:block;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    width: auto;
    height: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 21:03:00
    Author     : flavio
*/

.draggableWindow {
    margin: 0;
    padding:0;
    position:fixed;
    display:none;
    min-width: 200px;
    width: auto;
    height: auto;
    min-height: 60px;
    z-index: 200;
/*    
    border-radius: 4px;
    border-top-left-radius: 0px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius: 4px;
    -moz-border-top-left-radius: 0px;
*/    
    box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -webkit-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -moz-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -ms-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    -o-box-shadow: 2px 2px 2px -1px rgba(0,0,0,0.7);
    
    background: #F1F1F1;
    pointer-events: auto;
    overflow: hidden;
}

.draggableMenu {
    position:relative;
    display: block; 
    margin: 0;
    top:0; 
    left:0; 
    width:auto; 
    height:24px; 
/*    
    background: -moz-linear-gradient(left, #5ba4a4 0%, #4e8c8a 100%);
    background: -webkit-linear-gradient(left, #5ba4a4 0%,#4e8c8a 100%);
    background: -o-linear-gradient(left, #5ba4a4 0%,#4e8c8a 100%);
    background: -ms-linear-gradient(left, #5ba4a4 0%,#4e8c8a 100%);
    background: linear-gradient(left, #5ba4a4 0%,#4e8c8a 100%);
    background: #5ba4a4;
    color: white;
*/
    /*text-decoration-color: white;*/
    pointer-events: auto;
}

.draggableToolBar {
    margin: 0;
    position: relative;
    display:block;
    height: 42px; 
    padding-left: 2px;
    pointer-events: auto;
    overflow: auto;
    background: lightblue;
    color: white;
    width: 100%;
}

.draggableData {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
}

.withStatusBar  {
    padding-bottom: 24px;
}

.draggableStatus {
    position: absolute;
    bottom: 0;
    background-color:gray;
    color: white;
    height: 20px;
    width: 100%;
   /* border-bottom-right-radius: 4px;*/
}

.draggableStatusResize {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.dTitle {
  top: 0;
  padding-top: 3px; 
  line-height: 20px;
  text-align: left;
  font-family: sans-serif;
  font-weight: bold;
  pointer-events: none;
  background-color: transparent;
}

.dButton {
  float:left;
  background: none;
  color: #FFFFFF;
  /*width:22px; 
  background: #606061;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  margin-top: 1px;
  */
  height: 20px;
  display:block;
  text-align: center;
  padding: 2px;
  padding-left: 10px;
  padding-right: 8px;
  text-decoration: none;
  font-weight: bold;
}

.dButton:hover { /*color:yellow;*/ background: #D4482D; }
.dButton > a { color: white; text-decoration: none; font-weight: bold; }
.dButton > a:hover { /*color:yellow;*/ text-decoration: none; font-weight: bold; }

