/*
 * Container style
 */

.ps {
  overflow: hidden !important;
  overflow-anchor: none;
  -ms-overflow-style: none;
  touch-action: auto;
  -ms-touch-action: auto;
}

/*
 * Scrollbar rail styles
 */

.ps__rail-x,
.ps__rail-y {
  /* please don't change 'position' */
  position: absolute;
  display: none;
  opacity: 0.3; /* always visible, if active */
  transition: background-color .2s linear, opacity .2s linear;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  border-radius: 6px;
}  

    
.ps__rail-x {
  /* there must be 'bottom' or 'top' for ps__rail-x */
  bottom: 0;
  height: 12px;
}

.ps__rail-y {
  /* there must be 'right' or 'left' for ps__rail-y */
  right: 0;
  width: 12px;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
  display: block;
  background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
  opacity: 0.6;
}

.ps .ps__rail-x:hover,
.ps .ps__rail-y:hover,
.ps .ps__rail-x:focus,
.ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-y.ps--clicking {
  opacity: 1;
}

/*
 * Scrollbar thumb styles
 */
.ps__thumb-x, 
.ps__thumb-y {
  /* please don't change 'position' */
  position: absolute;
  background-color: rgb(255, 153, 34);
  border-radius: 6px;
  transition: background-color .2s linear, height .2s ease-in-out;
  -webkit-transition: background-color .2s linear, height .2s ease-in-out;
}

.ps__thumb-x {
  /* there must be 'bottom' for ps__thumb-x */
  bottom: 1px;
  height: 10px;
}

.ps__thumb-y {
  /* there must be 'right' for ps__thumb-y */
  right: 1px;
  width: 10px;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-x:focus > .ps__thumb-x,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-x.ps--clicking .ps__thumb-x, 
.ps__rail-y.ps--clicking .ps__thumb-y {
  opacity: 1;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps {
    overflow: auto !important;
  }
}
@media all {
    .page-break	{ display: none; }
    .info   	{ display: none; }
}

@media print {
    .page-break	{ display: block; page-break-before: always; }
    .info   	{ display: block; }
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.frame {
    background: #fff;
    overflow: auto;
    width: calc( 100% - 1px );
    height: calc( 100% - 1px );
    position: absolute;
}

.helpTit {
    font-size: 28px;
    line-height: 45px;
    margin-top: 5px;
    margin-left: 15px;
    position: relative;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.7);
}    

.helpHeader {
    background-color: #5ba4a4; 
    width:100%; 
    top: 0px; 
    left: 0px;
    padding: 0px;
    position: fixed; 
    z-index: 1000;
    min-height: 50px;
}
 
.helpContent {
    top: 60px;
    left: 0px;
    margin: 4px;
    padding: 4px;
    position: relative;
    width: calc(100% - 20px); 
    max-width: 1024px; 
    border: #C0C0C0; 
    border-style: double; 
    border-width: 2px; 
    font-family: sans-serif;
}

.helpContent img { 
   /* width: calc(100% - 10px); */
    max-width: calc(100% - 10px);
}

.helpContent h1 {
  text-align: center;
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;    
  margin-bottom: 5px;
}    


.helpContent h2 {
  font-size: 1.5em;
  text-indent: 50px;
}    
    
.helpContent h3 {
  text-indent: 50px;
}    
.helpContent h4 {
  text-indent: 50px;
}    
.helpContent h5 {
  text-align:  center;
  font-family: "Arial";
  font-size: 1.2em;
  font-style: italic;
  margin:0;
}    

.helpContent p {
  text-indent: 50px;
  text-align: justify;
  
}

.helpContent pre {
  margin-left: 50px;
}

.helpContent li {
  margin-left: 50px;
  font-style: italic;
}

.legenda {
  text-align:  left;
  font-style: italic;
  text-align: center;
  font-size: 12px;
}

pre {
  font-size: 13px;
}

.tabCifra {
    border-collapse: collapse;
    border: 1px solid black;
    width: 70%;
    margin: auto;
}

.tabCifra th, .tabCifra td {
    border: 1px solid black;
    width:80px;
    text-align: center;
}

.tabCifra th {
    font-weight: bold;
}

.btn {
  border: 1px outset buttonface;
  color: buttontext;
  background-color: buttonface;
  height: 26px;
  padding: 1px 6px;
  margin-top: 0px;
  margin-left: 5px;
}

.btn:hover { color: #000; }
.btn:focus{ color: #000; }

.abc_link {
  font-weight: normal;
  text-decoration: none; 
}

.abc_link:hover {
  stroke: blue; 
  text-decoration: none; 
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/07/2017, 19:21:49
    Author     : p_7236
*/

.menu-group {
    width: auto;
    height: auto;
    white-space: normal;
    display: block;
    margin: 20px;
    margin-top: 10px;
}

.menu-group th {
    text-align: left;
}

.menu-group label,
.menu-group button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    vertical-align: middle;
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    height: 26px;
    width: auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}

.menu-group > label {
    text-align: left;
    padding-top: 6px;
    height: 16px;
    font-size: 16px;
}


.menu-group input[type="text"] {
    width: 4em;
    height: 22px;
    width: 60px;
    padding: 0;
    margin: 0;
    border-color: gray;
    margin-top: 2px;
    margin-left: 5px;
    padding-left:2px;
}

.menu-group button:hover {
    background:  lavender;
    cursor: pointer;
}

.menu-group button::-moz-focus-inner {
  border: 0;
}

.menu-group img {
    top: -4px;
    height:20px;
}    
.btn-group ,
.dropdown-group {
    width: auto;
    white-space: normal;
    display: inline-block;
}

.btn-group {
    height: 22px;
    margin-top: 2px;
    margin-left: 5px;
}

.btn-group label,
.btn-group button,
.dropdown-group button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    /*vertical-align: middle;*/
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 20px;
    line-height: 16px;
    height: 26px;
    width: auto;
    /*text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);*/
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}

.dropdown-group button {
    font-size: 22px;
    color: orange;
    color: #dab390;
}

.dropdown-group button:hover {
    cursor: pointer;
    color: orange;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    background-color: transparent;
}

.btn-group label {
    text-align: left;
    padding-top: 6px;
    height: 16px;
    font-size: 16px;
}

.btn-group input[type="text"] {
    width: 4em;
    height: 22px;
    padding: 0;
    margin: 0;
    border-color: gray;
    margin-top: 2px;
    margin-left: 5px;
    padding-left:2px;
}

.btn-group button:hover {
    background:  lavender;
    cursor: pointer;
}

.btn-group button::-moz-focus-inner,
.dropdown-group button::-moz-focus-inner {
  border: 0;
}

.dropdown {
    float: left;
    position: relative;
    display: block;
    width: auto;
}

.btn-group img,
.dropdown img {
    position: relative;
    vertical-align: middle;
    top: -1px;
    height:22px;
}    

.dropdown [data-toggle="toggle"] {
    float:right;
    position:  relative;
    display: block;
    top: 1px;
    right: 0px;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown-menu {
    z-index: 101;
    max-height: 0;
    position:absolute;
    display:  block;
    top:100%;
    left: 6px;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    min-width: fit-content;
    -moz-transition: max-height 0.5s ease-out;
    -o-transition: max-height 0.5s ease-out;
    -webkit-transition: max-height 0.5s ease-out;
    transition: max-height 0.5s ease-out;
    cursor: pointer;
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    font-family: "AllertaStencil", "arial";
    font-weight: normal;
    font-size: 18px;
    font-style: italic;
    white-space: nowrap;
    color: orange;
    color: #dab390;
    background: #2c3e50;
    overflow: hidden;
}

.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu hr {
    margin: 5px;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid orange;
}

.dropdown li {
    padding: 4px;
    line-height: 16px;
}

.dropdown-menu .hover {
    background: #f6f6f6;
    background: lightblue;
    background: lavender;
}

.dropdown-menu .selected {
    background:  lavender !important;
}


.dropdown-menu li a {
    display:  block;
    padding: 2px 6px 2px 6px;
}


.dropdown > input[type="checkbox"] {
    display: none;
}

.dropdown > input[type="checkbox"]:checked ~ button > [data-toggle="toggle"] {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    -moz-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.dropdown > input[type="checkbox"]:checked ~ [data-toggle="toggle-menu"] {
    max-height: 250px;
    display:  block;
    top:100%;
    left: 6px;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    margin-left: 8px;
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -moz-transition: max-height 0.5s ease-in-out;
    -o-transition: max-height 0.5s ease-in-out;
    -webkit-transition: max-height 0.5s ease-in-out;
    transition: max-height 0.5s ease-in-out;
}

.checkboxGroup {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    height: 25px;
    padding: 2px;
    vertical-align: top;
}


.rounded-corners {
    border: 2px solid;
    padding: 5px;
    padding-top: 8px;
    margin: 0;
    border-radius: 5px;
 }

.rounded-corners > h1 {
    background:white;
    position: absolute;
    width:fit-content;
    left: 8px;
    top: -28px;
    font-size: 20px;
    padding: 0 5px 0 5px;
}  /*
    To change this license header, choose License Headers in Project Properties.
    To change this template file, choose Tools | Templates
    and open the template in the editor.

    Created on : 21/05/2017, 17:29:52
    Author     : flavio
*/

.tabs {
    clear: both;
    position: relative;
    display: block;
    float:  left;
    margin: 8px 0px 0px 1px;
    width: fit-content;
    min-width: 640px;
}

.tabs input[type="radio"] {
    position: absolute;
    display: inline;
    z-index: 100;
    width: 0;
    height: 0;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}
.tabs input#tab-2{
    left: 120px;
}
.tabs input#tab-3{
    left: 240px;
}

.tabs > label {
    
    background: #003050;
    background: #ccc;
    background: -moz-linear-gradient(top, white 0%, #ccc   100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,white), color-stop(100%,#ccc ));
    background: -webkit-linear-gradient(top, white 0%, #ccc  100%);
    background: -o-linear-gradient(top, #003050 0%, #ccc  100%);
    background: -ms-linear-gradient(top, #003050 0%, #ccc  100%);
    background: linear-gradient(top, #003050 0%, #ccc  100%);
    /*
    background: -moz-linear-gradient(top, lavender 0%, white 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,lavender), color-stop(100%,lavender));
    background: -webkit-linear-gradient(top, lavender 0%, white 100%);
    background: -o-linear-gradient(top, lavender 0%, white 100%);
    background: -ms-linear-gradient(top, lavender 0%, white 100%);
    background: linear-gradient(top, lavender 0%, white 100%);
  */

    font-family: 'Milonga','Arial';
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    position: relative;
    padding: 0 6px;
    float: left;
    display: block;
    width: auto;
    color: #385c5b;
    color: #dab390;
    color: #777;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    bottom: 0px;
    /*text-shadow: 1px 1px 1px #385c5b;
    */
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}

.tabs input:hover + label {
    background: #5ba4a4;
    background: lavender;
    background: #eee;
    background: #003050;
    background: -webkit-linear-gradient(bottom, #ccc 0%, white 50%);
    cursor: pointer;
}

.tab-label-1 {
    z-index: 3;
}

.tab-label-2 {
    z-index: 2;
}

.tab-label-3 {
    z-index: 1;
}

.tabs input:checked + label {
    /*opc 2*/
    color: #ff9922;
    color: orange;
    text-shadow: 1px 1px 1px #385c5b, 1px -1px 1px white;
    
    /*opc 1*/
    color: red;
    text-shadow: 1px 1px 1px #ff9922, 1px -1px 1px white;
    
    background: #003050;
    background: -moz-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -webkit-linear-gradient(top, #003050 0%, #e9edf0 60%);
    background: -o-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: -ms-linear-gradient(top, #003050 0%, #e9edf0 100%);
    background: linear-gradient(top, #003050 0%, #e9edf0 100%);
    z-index: 5;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
}

.tv-container,
.tv-container-always {
    clear: both;
    float: left;
    background: #e9edf0;
    position: relative;
    min-width: 756px;
    min-height: 304px;
    z-index: 10;
    opacity: 1;
    display:block;
    box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.7);
    overflow: hidden;
}

.tv-container {
    min-width: 1024px;
    min-height: 400px;
    width: inherit;
    height: inherit;
}

.tv-container > div {
    display:none;
    opacity: 0;
    z-index: 1;
    margin: 4px;
    top: 0;
    left: 0;
 }
 
.tabs input.tab-selector-1:checked ~ .tv-container .tv-selector-1 ,
.tabs input.tab-selector-2:checked ~ .tv-container .tv-selector-2 ,
.tabs input.tab-selector-3:checked ~ .tv-container .tv-selector-3 {
    opacity: 1;
    display:block;
    z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    width: auto;
    height: auto;
}

.tv-content {
    position: relative;
    margin: 0px auto;
    padding: 0px;
    width: 600px;
    height: 400px;
    overflow: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/04/2015, 21:03:00
    Author     : flavio
*/

.draggableWindow {
    margin: 0;
    padding:0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    position:fixed;
    display:none;
    min-width: 200px;
    width: fit-content;
    height: auto;
    min-height: 60px;
    z-index: 100;
    border: thin solid rgba(100,100,100,0.3);
    background: #F1F1F1;
    pointer-events: auto;
    overflow: hidden;
    outline: none;

    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
}

.draggableWindow:focus {
    outline: 0px solid transparent;
}

.noShadow {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.draggableMenu {
    clear:both;
    font-family: "abcx";
    font-size: 16px;
    position:relative;
    display: block; 
    margin: 0;
    padding: 0;
    top:0; 
    left:0; 
    width:auto; 
    height:auto; 
    pointer-events: auto;
    overflow: hidden;
}

.draggableToolBar {
    clear: both;
    font-family: "abcx";
    font-size: 16px;
    position: relative;
    /*display:inline-block;*/
    float:left;
    margin: 0;
    padding: 1px;
    width: calc(100% - 2px);
    height: auto; 
    pointer-events: auto;
    /*overflow: hidden;*/
    background: lightblue;
    background-color: #EBEBEB;
    background: #e9edf0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}

.draggableToolBar button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    /*vertical-align: middle;*/
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 28px;
    line-height: 24px;
    height: 28px;
    width: auto;
    text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.8); 
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}


.draggableToolBarApp {
    clear: both;
    font-family: "abcx";
    height: 40px;
    font-size: 16px;
    position: relative;
    display:inline-block;
    margin: 0;
    padding: 1px;
    width: calc(100% - 2px);
    height: auto; 
    pointer-events: auto;
    background: lightblue;
    background-color: #EBEBEB;
    background: #e9edf0;
    border-bottom: 1px solid rgba(100,100,100,0.5);
}

.draggableToolBarApp button {
    position: relative;
    display: block;
    float:left;
    text-align: left;
    font-family: 'Milonga','Arial';
    font-weight: normal;
    font-size: 32px;
    line-height: 32px;
    height: 32px;
    width: auto;
    text-shadow: 2px 1px 2px rgba(50, 50, 50, 0.8); 
    left: 0;
    margin: 0;
    margin-left: 4px;
    padding: 4px;
    outline: none !important;
    border: none;
    color: black;
    background-color: transparent;
    
}



.draggableData {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: auto;
    width: 100%;
    height: calc( 100% - 24px );
}

.dTitle {
  top: 0;
  display:block;
  padding: 0; 
  height: auto;
  text-align: left;
  font-family: AllertaStencil, sans-serif;
  font-size: 16px;
  font-weight: bold;
  pointer-events: none;
  background-color: transparent;
  white-space: nowrap;
}

.dButton {
  float:left;
  background: none;
  color: #FFFFFF;
  display:block;
  text-align: center;
  height: inherit;
  top:0;
  margin:0;
  padding: 4px;
  padding-left: 10px;
  padding-right: 8px;
  
}

.dButton:hover { background-color: #D4482D; }
.dButton > a { color: white; text-decoration: none; }
.dButton > a:hover { text-decoration: none; }

.draggableStatus {
    position: absolute;
    bottom: 0;
    left:0;
    height: 18px;
    width: 100%;
    background-color:rgb(160,160,160);
    background-color: #EBEBEB;
    background: #e9edf0;
    color: white;
    border-top: 1px solid rgba(100,100,100,0.5);
   /* border-bottom-right-radius: 4px;*/
}

.draggableStatusMsgLine {
    background: none;
    position: absolute;
    top: 2px;
    left: 6px;
    height: 18px;
    color:red;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.draggableAlternativeResize {
    background: none;
    display: block;
    position: absolute;
    bottom: -10px;
    right: -9px;
   /* height: 10px;
    width: 10px;*/
    z-index: -1;
/*    
    box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -webkit-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -moz-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -ms-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
    -o-box-shadow: 6px 6px 6px -3px rgba(0,0,0,0.7);
*/
}

.draggableStatusResize {
    background: none;
    position: absolute;
    top: 2px;
    right: 2px;
    height: 18px;
}

.pushbutton-group {
    position: absolute;
    display: block;
}

.pushbutton {
    position: relative;
    display: block;
    float: left;
    background-color: darkgray;
    color: white;
    min-width: 50px;
    min-height: 20px;
    margin: 5px;
    margin-left: 0;
    padding: 5px;
}

.pushbutton:hover {
    background-color: blue;
    color: white;
    opacity: 0.4;
}

.cancel:hover {
    background-color: red !important;
}

.pushbutton i {
    font-size: 150%;
    font-weight: bolder;
    margin: 5px;
    margin-left: 2px;
}

.picker-group { 
    display: inline-block;
    margin:5px;
    width: auto;
    height: auto;
}

.picker-group .pickerCanvas { 
    display: block;
}    

.picker-group > input { 
    width: 93px;
    height: 30px;
    font-family: 'Milonga','Arial';
    font-weight: bold;
    border: none;
    text-align: center;
}    

.dialog {
    min-height: 200px;
    display: block;
}

.dialog .flag {
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    font-size: 600%;
    color:red;
    margin: 20px;
    padding: 10px 0px 10px 0px;
    border: 1px solid red;
    border: none;
    float:left;
}

.dialog .text-group {
    position:relative;
    clear:both;
    top:0;
    left: 120px;
    margin: 0;
    float:none;
    min-height: 200px;
    min-width: 350px;
    max-width: 350px;
    display: inline-block;
    padding: 10px;
    border: 1px solid blue;
    border: none;
}
.dialog .wide {
   max-width: 520px;
 }

.dialog .text-group .title {
    float:bottom;
    font-size: 20px;
    text-align: left;
    padding-bottom: 10px;
    
}

.dialog .text-group .description {
    float: bottom;
    font-size: 14px;
    text-align: justify;
}

.dialog .text-group input[type="text"] {
  width: 300px;   
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12/11/2018, 14:19:16
    Author     : Flávio Vani
*/
.slidecontainer {
    float: left;
    height: 23px;
    width: 134px; 
    margin-top: 1px;
    border-radius: 3px;
}

.slidecontainer > .layer1 {
    z-index: 1;
    width: 134px;
    position:absolute;
    height: 23px !important;
    opacity: 1;
    border-radius: 3px;
    background: gray; 
    background: #FFAFAF; 
}
.slidecontainer > .layer2 {
    z-index: 2;
    width: 134px; 
    position:absolute;
    
}

.slidelabel {
    width: 134px !important;
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 4px !important;
    text-align: center !important;
}

.slidebutton {
    margin: 0 !important;
    padding: 0 !important;
    height: 23px !important;
    font-size: 18px !important;
    cursor: pointer !important; 
}

.slidebuttonDiv {
    margin: 0 !important;
    padding: 0 !important;
    height: 23px !important;
    width: 17px !important;
    float: left;
}

.slidebuttonDiv:hover {
    background-color: transparent;
}

.slider {
    margin: 0;
    padding: 0;
    float:left;
    width: 100px; 
    height: 23px; 
    appearance: none;
    -webkit-appearance: none;  /* Override default CSS styles */
    -moz-appearance: none; /* Override default look */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border: none;
    border-radius: 0;
    opacity: 0.3; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

.slider:hover {
    opacity: 0.5; /* Fully shown on mouse-over */
    cursor: pointer; /* Cursor on hover */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none; /* Override default look */
    -moz-appearance: none; /* Override default look */
    width: 23px; /* Set a specific slider handle width */
    height: 23px; /* Slider handle height */
}

.slider::-webkit-slider-runnable-track {
}

.slider::-moz-range-thumb {
    appearance: none;
    -moz-appearance: none; /* Override default look */
    -webkit-appearance: none; /* Override default look */
    width: 23px; /* Set a specific slider handle width */
    height: 23px; /* Slider handle height */
    border: none; /* Remove outline */
    border-radius: 0;
}

.slider::-moz-range-track {
   width: 0;
   height: 0;
   background: none;
   border: none;
   border-radius: 0;
}

.rev180dg {
  transform: rotate(180deg) translate(0px,2px);
}

.normal {
  transform: translate(-1px,4px);
}

