/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 07/04/2015, 19:06:40
*/

.container {
    width: 1160px;
}

.container > header h1{
    font-size: 28px;
    line-height: 28px;
    margin-top: 5px;
    margin-left: 0px;
    position: relative;
    font-weight: 300;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(255,255,255,0.7);

}
.container > header h1 span{
    font-weight: 700;
}

#t2pDiv {
    display: inline;
    position:absolute;
    font-family: arial;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,0.2);
    z-index: 300;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    background-color: #ddd; 
    color:black;     
}

#t2pDiv h2 { color: #189CDA; margin: 0; padding:  0; }

#t2pContentDiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 8px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 8px 8px 10px #444;
    -webkit-box-shadow: 8px 8px 10px #444;
    box-shadow: 8px 8px 10px #444;
    background-color: white;
}

#t2pHeader {
    position: relative;
    margin: 0px;
    border-bottom: 1px solid #8bc4ea;
}

#t2pStudioCanvasDiv {
    position: relative;
    height: 422px;
    overflow-y: auto;
    margin: 0px;
    margin-left: 4px;
}

#t2pTextarea {
    width: 97.5%; 
    height: 15em;
    margin: 4px;
    margin-bottom: 0px;
    color: #000; 
    font-family: monospace; 
    font-size: 12px; 
    line-height: 14px;
    resize: none;
}

#t2pControlDiv {
    margin: 4px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

#t2pWarningsDiv {
    margin: 0;
    padding: 0;
    margin-left: 4px;
}

#t2pCanvasDiv {
    margin: 0px;
    margin-left: 4px;
}

.ok, .close, .cancel {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 22px;
    height: 22px;
    font-size: 10px;

}
.ok, .cancel {
    width:50px;
    float:right;
    margin-left:12px;
}
.ok:hover { background: #189CDA; }
.close:hover, .cancel:hover { background: #D4482D; }
.clear { float:none; clear: both; }


#t2pEditorDiv {
    display: none; 
    position: fixed;
    z-index: 400;
}

#editorTextArea {
    margin: 0px; 
    color: #000; 
    font-family: monospace;
}
    
#t2pKeyboardDiv{
    display:none; 
    position: fixed;
    z-index: 401;
}

#t2pPrintPreviewDiv {
    position:relative;
    display:none;
    top:0;
    left:0;
    margin: 0;
    margin-left: 40px;
    padding: 0;
    width:1056px; 
    z-index: 20000;
    background-color: #ffc;
}


#gotoMeasureBtn, #untilMeasureBtn {
    width: 4em;
    height:22px;
    padding: 0;
    margin: 0;
    border-color: gray;
}

.btn {
  border: 1px outset buttonface;
  color: buttontext;
  background-color: buttonface;
  height: 26px;
  padding: 1px 6px;
}

.btn:hover { color: #000; }
.btn:focus{ color: #000; }

.playTimeLabel {
    font-weight: bold; 
    color: orangered; 
    padding-left: 8px; 
    padding-right: 4px;
}
