/*title font*/
@font-face { font-family: 'RockSalt';       src: url('./RockSalt.ttf') format('truetype'); }

/*menu font */
@font-face { font-family: 'Milonga';        src: url('./Milonga-Regular.ttf') format('truetype'); }

/*submenu font*/
@font-face { font-family: 'AllertaStencil'; src: url('./AllertaStencil-Regular.ttf') format('truetype'); }

/*abc font*/
@font-face { font-family: 'Merienda';       src: url('./Merienda-Regular.ttf') format('truetype'); }

/*editor font*/
@font-face { font-family: 'DejaVuSansMono'; src: url('./DejaVuSansMono.ttf') format('truetype'); }


/*
@font-face { font-family: 'atual01';              src: url('./Neucha.ttf') format('truetype'); }
@font-face { font-family: 'atual02';              src: url('./Spirax-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual03';              src: url('./Frijole-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual04';              src: url('./Aclonica-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual05';              src: url('./AlfaSlabOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual06';              src: url('./Milonga-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual07';              src: url('./AnnieUseYourTelescope.ttf') format('truetype'); }
@font-face { font-family: 'atual08';              src: url('./ArchitectsDaughter.ttf') format('truetype'); }
@font-face { font-family: 'atual09';              src: url('./Audiowide-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual10';              src: url('./Barrio-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual11';              src: url('./BlackOpsOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual12';              src: url('./BowlbyOneSC-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual13';              src: url('./BungeeInline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual14';              src: url('./BungeeOutline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual15';              src: url('./BungeeShade-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual16';              src: url('./CarterOne.ttf') format('truetype'); }
@font-face { font-family: 'atual17';              src: url('./Coda-ExtraBold.ttf') format('truetype'); }
@font-face { font-family: 'atual18';              src: url('./Coda-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual19';              src: url('./ConcertOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual20';              src: url('./Cookie-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual21';              src: url('./Diplomata-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual22';              src: url('./DroidSansMono.ttf') format('truetype'); }
@font-face { font-family: 'atual23';              src: url('./Ewert-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual24';              src: url('./FascinateInline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual25';              src: url('./GravitasOne.ttf') format('truetype'); }
@font-face { font-family: 'atual26';              src: url('./InknutAntiqua-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual27';              src: url('./KaushanScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual28';              src: url('./Kranky.ttf') format('truetype'); }
@font-face { font-family: 'atual29';              src: url('./KumarOneOutline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual30';              src: url('./LondrinaShadow-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual31';              src: url('./LovedbytheKing.ttf') format('truetype'); }
@font-face { font-family: 'atual32';              src: url('./LuckiestGuy.ttf') format('truetype'); }
@font-face { font-family: 'atual33';              src: url('./MarckScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual34';              src: url('./Merienda-Bold.ttf') format('truetype'); }
@font-face { font-family: 'atual35';              src: url('./Merienda-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual36';              src: url('./Modak-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual37';              src: url('./Monoton-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual38';              src: url('./NothingYouCouldDo.ttf') format('truetype'); }
@font-face { font-family: 'atual39';              src: url('./PatrickHand-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual40';              src: url('./PermanentMarker.ttf') format('truetype'); }
@font-face { font-family: 'atual41';              src: url('./PetitFormalScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual42';              src: url('./Plaster-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual43';              src: url('./Pompiere-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual44';              src: url('./RammettoOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual45';              src: url('./ReenieBeanie.ttf') format('truetype'); }
@font-face { font-family: 'atual46';              src: url('./Righteous-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual47';              src: url('./RuslanDisplay.ttf') format('truetype'); }
@font-face { font-family: 'atual48';              src: url('./RussoOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual49';              src: url('./Rye-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual50';              src: url('./SixCaps.ttf') format('truetype'); }
@font-face { font-family: 'atual51';              src: url('./Slackey.ttf') format('truetype'); }
@font-face { font-family: 'atual52';              src: url('./Stalemate-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual53';              src: url('./Syncopate-Bold.ttf') format('truetype'); }
@font-face { font-family: 'atual54';              src: url('./Syncopate-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual55';              src: url('./VastShadow-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual56';           src: url('./AllertaStencil-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atual57';          src: url('./RockSalt.ttf') format('truetype'); }
*/