@font-face { font-family: 'titleFont';              src: url('./RockSalt.ttf') format('truetype'); }

@font-face { font-family: 'titleFont4';         src: url('./Frijole-Regular.ttf') format('truetype'); }
@font-face { font-family: 'titleFont3';         src: url('./Milonga-Regular.ttf') format('truetype'); }
@font-face { font-family: 'titleFont2';         src: url('./Neucha.ttf') format('truetype'); }
@font-face { font-family: 'titleFont1';          src: url('./Spirax-Regular.ttf') format('truetype'); }

@font-face { font-family: 'atuax';              src: url('./Aclonica-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./AlfaSlabOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./AllertaStencil-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./AnnieUseYourTelescope.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./ArchitectsDaughter.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Audiowide-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Barrio-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./BlackOpsOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./BowlbyOneSC-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./BungeeInline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./BungeeOutline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./BungeeShade-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./CarterOne.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Coda-ExtraBold.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Coda-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./ConcertOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Cookie-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Diplomata-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./DroidSansMono.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Ewert-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./FascinateInline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./GravitasOne.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./InknutAntiqua-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./KaushanScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Kranky.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./KumarOneOutline-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./LondrinaShadow-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./LovedbytheKing.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./LuckiestGuy.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./MarckScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Merienda-Bold.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Merienda-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Modak-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Monoton-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./NothingYouCouldDo.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./PatrickHand-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./PermanentMarker.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./PetitFormalScript-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Plaster-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Pompiere-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./RammettoOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./ReenieBeanie.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Righteous-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./RuslanDisplay.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./RussoOne-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Rye-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./SixCaps.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Slackey.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Stalemate-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Syncopate-Bold.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./Syncopate-Regular.ttf') format('truetype'); }
@font-face { font-family: 'atuax';              src: url('./VastShadow-Regular.ttf') format('truetype'); }
