
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:diatonicmap.x10.mx
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?diatonicmap.x10.mx
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:diatonicmap.x10.mx

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:diatonicmap.x10.mx
Header always set Content-Security-Policy: upgrade-insecure-requests
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW UPGRADE_INSECURE_REQUESTS:diatonicmap.x10.mx

#Desabilita a listagem de diretórios
Options -Indexes

<ifmodule mod_headers.c>
Header always edit Set-Cookie (.*) "$1;HttpOnly;Secure"
</ifmodule> 
