.idiom {
    top: 0;
    right: 0;
    width: 100%;
    float: right;
    margin-bottom: 0.5em;
}

.idiom button {
    float: inline-end;
    font-family: Merienda;
    margin-left: 2px;
    font-size: small;
    border: none;
    background: none;
}

.idiom button:hover {
    background-color: lavender;
}

.idiom img {
    height: 28px;
    vertical-align: middle;
}

p {
    font-family: Merienda;
    text-align: justify;
    text-indent: 3em;
}

.h1 {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
}

.h2 {
    font-weight: bold;
    font-size: large;
}

.h3 {
    font-weight: bold;
    font-style: italic;
    font-size: medium;
}

.s1 {
    margin-left: 2em;
}

.s1 p {
    text-indent: 1em;
}

.s3 {
    margin-left: 20%;
}

.s3 p {
    text-indent: 0;
    font-style: italic;
    font-size: small;
}

.ti {
    font-style: italic;
}

.tabCifra {
    font-family: Verdana, Merienda;
    text-align: justify;
    text-indent: 3em;
}

#clustrmaps-widget-v2 {
    display: none !important;
}